**/*.svg
package.json
/dist
.dockerignore
.DS_Store
.eslintignore
*.png
*.toml
docker
.editorconfig
Dockerfile*
.gitignore
.prettierignore
LICENSE
.eslintcache
*.config.js
cdn.js
*.lock
yarn-error.log
.history
CNAME
public
node_modules
build
**/*.d.ts
